@using Resources
@model WarehouseEntry.Models.ViewUserModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section DynamicHeader{

    <style type="text/css">
        .form-horizontal {
            min-height: 420px;
        }
    </style>

    <script type="text/javascript">

        $(document).ready(function () {

            $("#btnChange").click(function () {
                var validateSpans = $(".field-validation-valid");
                validateSpans.removeClass("icon-asterisk");
                validateSpans.text("");
                var oldPass = $("#old-password-container input").val().trim();
                var newPass = $("#new-password-container input").val().trim();
                var passConfirm = $("#password-confirm").val().trim();
                if (oldPass == "") {
                    $("#old-password-container input").focus();
                    return false;
                }
                if (newPass == "") {
                    $("#new-password-container input").focus();
                    return false;
                }
                if (passConfirm == "") {
                    $("#password-confirm").focus();
                    return false;
                }
                if (newPass != passConfirm) {
                    showFailed({ Msg: "@SiteCommonResource.AlertErrorPasswordNotConfirm" });
                    $("#password-confirm").focus();
                    return false;
                }
                ajaxPost('@Url.Action("ChangePassword")', { OldPassword: oldPass, NewPassword: newPass }, undefined,
                    function (data) {
                        showSeccess(data, '@Url.Action("Index", "Home")');
                    },
                    function (data) {
                        if (data.Msg != undefined && data.Msg != "") {
                            showFailed(data);
                        } else if (data.ObjectModel != undefined && data.ObjectModel.length > 0) {
                            for (var i = 0; i < data.ObjectModel.length; i++) {
                                var error = data.ObjectModel[i].error;
                                if (error != undefined && error != "") {
                                    var validateSpan = $('.field-validation-valid[data-valmsg-for="' + data.ObjectModel[i].key + '"]');
                                    validateSpan.addClass("icon-asterisk");
                                    validateSpan.text(error);
                                }
                            }
                        }
                    });
                return true;
            });

        });

    </script>

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <div class="container">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-xs-offset-2 col-md-offset-2 col-xs-10 col-md-10">
                    <h3 class="icon-key"><strong>@FunctionResource.UserControllerChangePassword</strong></h3>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-2 col-md-offset-2 col-xs-10 col-md-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.OldPassword, new { @class = "control-label col-md-2" })
                        <div id="old-password-container" class="col-md-4">
                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OldPassword)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-2 col-md-offset-2 col-xs-10 col-md-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-2" })
                        <div id="new-password-container" class="col-md-4">
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-2 col-md-offset-2 col-xs-10 col-md-10">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="password-confirm">@SiteCommonResource.TextPasswordConfirm</label>
                        <div class="col-md-4">
                            <input class="form-control" id="password-confirm" name="password-confirm" type="password">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-2 col-md-offset-2 col-xs-10 col-md-10">
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-md-offset-2 col-xs-10 col-md-10">
                            <input id="btnChange" type="button" value="@SiteCommonResource.TextChange" class="button button-pill button-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}